{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "presets": [
    ["@babel/env",
      {
        "targets": [
          "defaults",
          "last 2 versions",
          "not IE 11",
          "node 12"
        ]
      }
    ],
    ["@babel/preset-react"]
  ]
}
